{% extends "base.html" %}
{% block content %}
<h3>{{message}}</h3>
<form method="POST" action="{%url 'change_password' request.user.username %}">{% csrf_token %}
	<label for="inputPassword" class="sr-only">Old Password</label>
    <input type="password" id="inputEmail" class="form-control" placeholder="Old Password" name="old_password" required autofocus>
    <label for="inputPassword" class="sr-only">New Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="New Password" name="new_password_1" required>
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Confirm Password" name="new_password_2" required>
    <input class="btn btn-primary" type="submit" value="Change Password">
	

</form>

{% endblock %}