<script>
// When the user clicks on <div>, open the popup
function myFunction() {
    var popup = document.getElementById("myPopup");
    popup.classList.toggle("show");
}

function myFunction2() {
    var popup = document.getElementById("myPopupcomment");
    popup.classList.toggle("show");
}

function myFunction3() {
    var popup = document.getElementById("myPopupjournal");
    popup.classList.toggle("show");
}

function myFunction4() {
    var popup = document.getElementById("myPopupfollow");
    popup.classList.toggle("show");
}

function myFunction5() {
    var popup = document.getElementById("myPopupcatfollow");
    popup.classList.toggle("show");
}
</script>