{% load staticfiles %}
  
  {%block navbar%}
    <div class="navbar-wrapper">
      

        <nav class="navbar navbar-inverse "><b>
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{% url 'home' %}"><img  src="/media/site_images/logo black png.png" style="width:30px;height:30px;margin-top: -6px;"> </a>
            </div>
            <div>
            <div id="navbar" class="navbar-collapse collapse">
            </li>
              <ul class="nav navbar-nav navbar-right">
              <form  method="POST" class="navbar-form navbar-left" action="/cards/found/">
                    {%csrf_token%}
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Search Sightnext" name='find'>
                    </div>
                    <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
              </form>
            {%if request.user.username%}
            <li><a href="/cards/newcard/">Create Blog</a></li>
            <ul class="nav navbar-nav">
              
                  <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Users <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/users/logout/">Log Out</a></li>
                        <li><a href="{% url 'profile_edit' request.user.username %}">Edit Profile</a></li>
                        <li><a href="{% url 'user' request.user.username %}">My Account</a></li>
                    </ul>
                  </li>
              
            </ul>
            
            {%else%}
            <li><a href="{% url 'login' %}">LogIn</a></li>
            {%endif%}
            
          </ul>
            </div>
          </div></b>
        </nav>

      
    </div>
{%endblock%}
              <!-- <ul class="nav navbar-nav">
                
                
                <li class="dropdown">
              <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blogs <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/cards/all/">All Blogs</a></li>
                
                
                
              </ul> -->
            <!-- <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li> -->