{% extends "base.html" %} 
{% block content %}

<div class="container">
{% if user_journal %}
	{% for card in user_journal %}
		<div class="col-md-4 col-sm-12 col-xs-12 " >
			
					<div class="bog_box_content"><a href="{% url 'cards:view_card' card.name %}">
						<p>
						<div>
							<img src="/media/{{card.image}}" class="img-responsive2" >
						</div></p></a>
					

						<div><a  href=""{% url 'cards:view_card' card.name %}"">
						<p><h3>{{card.name}} </h3></p></a>
						</div>
						<p>
						<div>{{card.desc|truncatewords:4|safe}}
						</div></p>
						<p>
						<div>
						<a href=""{% url 'cards:view_card' card.name %}"" class="btn btn-primary" role="button">
							View
						</a>
						</div></p>
					</div>
					<hr>
		</div>
		
	{% endfor %}
{% else %}
	<div >
		<h1> You have not added any blogs to your journal till now.</h1>
		<div >
			<h2> Goto <a href="{% url 'home' %}">blogs page</a> now!!</h2>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %} 